@import "sass-essentials";

.status-messages {
  margin-bottom: 30px;
  padding: 15px 15px 15px 60px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 20px center;
  background-color: #EEE;

  &.status-messages--error {
    background-image: url('sad.svg');
  }

  &.status-messages--status {
    background-image: url('smile.svg');
  }

  &.status-messages--warning {
    background-image: url('meh.svg');
  }
}
